/* @import url('https://fonts.googleapis.com/css2?family=Igro+Sans:wght@400;500;700&display=swap');


@font-face {
  font-family: 'Igro Sans';
  src: url('../fonts/IgraSans/IgraSans.eot') format('eot'),
        url('../fonts/IgraSans/IgraSans.ttf') format('ttf'),
        url('../fonts/IgraSans/IgraSans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply scroll-smooth;
}

body {
  @apply font-Gilroy;
}

.container {
  @apply max-w-[1880px] mx-auto p-17 rounded-[20px] bg-white;
}

.contact_container {
  @apply max-w-[1880px] mx-auto p-17 rounded-[20px] 2xl:bg-transparent bg-white;
}

@media (max-width: 1500px) {
  .container {
    @apply p-12;
  }
  .contact_container {
    @apply p-12;
  }
}

@media (max-width: 991px) {
  .container {
    @apply p-5 rounded-xl;
  }

  .contact_container {
    @apply p-5 rounded-xl;
  }
}

